body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe6e6;
    color: #d14a74;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffcccc;
    padding: 20px;
    border-bottom: 3px solid #d14a74;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    margin: 0;
}

.gallery-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que as fotos quebrem linha em telas menores */
    margin: 10px 0;
}

.photos img {
    width: 250px;
    margin: 10px;
    border-radius: 15px;
    border: 3px solid #d14a74;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.photos img:hover {
    transform: scale(1.05);
}

.counter {
    margin: 20px 0;
    background-color: #fff0f5;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: fit-content;
}

.counter h2 {
    font-size: 28px;
}

#timeCounter {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    color: #b33f62;
}

footer {
    background-color: #ffcccc;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #d14a74;
}

/* Media queries para dispositivos móveis */
@media (max-width: 768px) {
    header h1 {
        font-size: 28px;
    }

    .photos img {
        width: 180px; /* Reduz o tamanho das fotos em telas menores */
    }

    .counter {
        width: 90%; /* Ajusta a largura para caber na tela */
    }

    #timeCounter {
        font-size: 20px; /* Reduz o tamanho do texto */
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .photos img {
        width: 150px; /* Ainda menor para telas pequenas */
    }

    .counter h2 {
        font-size: 24px;
    }

    #timeCounter {
        font-size: 18px;
    }
}
